@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Darker+Grotesque:wght@300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: DM Sans, sans-serif;
    font-size: 1.25rem;
    line-height: 1.2;
    min-height: 100vh;
    overflow-x: hidden;
  }

  #root {
    min-height: 100vh;
  }

  html {
    font-size: calc(0.625rem + 0.41666666666666663vw);
  }

  @screen max-1920 {
    html {
      font-size: calc(0.625rem + 0.41666666666666674vw);
    }
  }

  @screen max-1440 {
    html {
      font-size: calc(0.8127rem + 0.2081vw);
    }
  }

  @screen max-479 {
    html {
      font-size: calc(0.8747rem + 0.4184vw);
    }
  }

  body::-webkit-scrollbar {
    width: 0px;
  }

  body::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
    border-style: none;
    border-radius: 0px;
  }

  body::-webkit-scrollbar-thumb {
    background: rgb(28, 28, 28);
  }

  ::selection {
    background: #151515;
    color: white;
  }

  @media screen and (max-width: 479px) {
     {
      grid-auto-rows: 25rem;
      margin-bottom: -7rem;
    }
  }

  @media screen and (max-width: 767px) {
    .card {
      grid-template-rows: 30rem;
      grid-auto-rows: 30rem;
    }
  }

  @media screen and (max-width: 991px) {
    .card {
      grid-template-rows: 35rem;
      grid-template-columns: 1fr;
      grid-auto-rows: 35rem;
      margin-bottom: 0;
      position: static;
    }
  }

  .card {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: 40rem;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    width: 100%;
    margin-bottom: 7.75rem;
    transition: transform 0.4s;
    display: grid;
  }
}
